<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mz.ac.isutc.gestaofinanceira">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestaoFinanceira"
        tools:targetApi="31">
        <activity
            android:name=".SingleEntidade"
            android:exported="false" />
        <activity
            android:name=".SingleConta"
            android:exported="false" />
        <activity
            android:name=".CriarEntidade"
            android:exported="false" />
        <activity
            android:name=".Contas"
            android:exported="false" />
        <activity
            android:name=".Subscricoes"
            android:exported="false" />
        <activity
            android:name=".Entidades"
            android:exported="false" />
        <activity
            android:name=".DebitRegistry"
            android:exported="false" />
        <activity
            android:name=".CreditRegistry"
            android:exported="false" />
        <activity
            android:name=".CriarConta"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>